@media screen and (max-width: 1440px){
    .container-xxl{
        padding: 0px 25px;
    }
    /*-- header section --*/
    .header-section{
        & .header-container{
            padding: 0px;
        }
        & .header-shape1{
            display: none;
        }
        & .header-shape2{
            display: none;
        }
    }
}
@media screen and (max-width: 1200px){
    /*--  Index 1 banner Section --*/
    .banner-slider-section{
        & .slideshow-container{
            & .bannerSlider{
                & .text{
                    top: 22%;
                    & h2{
                        font-size: 50px;
                    }
                }
            }
        }
        & .slide-btns{
            width: 250px;
            & .dot{
                height: 50px;
                width: 50px;
            }
        }
    }
    
    .index2-banner-slider-section{
        & .slideshow-container{
            & .index2Slide{
                & .index2-slider-text{
                    & h3{
                        font-size: 35px;
                    }
                }
            }
        }
    }
    
    .result-table{
        & .result-table-row{
            & li{
                & span{
                    font-size: 12px;
                }
                & .score{
                    & span{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    
    .latest-post-list{
        & ul{
            & li{
                & .latest-post-list-text{
                    & h4{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    /*-- point-table-section --*/
    .point-table-section{
        & .point-table{
           & table {
               & tr{
                    & td{
//                        padding: 14px 0px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    
    .newsletter-section {
        & .newsletter-content {
            padding: 25px;
            & h4{
                margin: 12px auto;
            }
            & form{
                & input,
                & button {
                    margin-bottom: 23px;
                }
            } 
        }
    } 
}

@media screen and (max-width: 1100px){        
    .upcoming-match-section{
        & .upcoming-match-slider{
            & .upcoming-match-slider-content{
                padding: 0px 50px;
            }
        }
    }
    
    .footer-area{
        & .footer-section{
            & .main-footer{
                & .main-footer-content{
                    & .footer-menu{
                        & ul{
                            & li{
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
     

}

@media screen and (min-width: 992px) and (max-width: 1100px){
    .social-share-btns{
        & button{
            font-size: 13px;
        }
    }
    
    .result-table{
        & .result-table-row{
            padding: 18px;
            & li{
                &:nth-child(3){
                    min-width: 80px;
                }
                & .score{
                    height: 30px;
                    padding: 2px 10px;
                }
            }
        }
    }
    
    .point-table-section{
        & .point-table{
            & table{
                & tr{
                    & th{
                        padding: 15px 0px;
                        &.sl-no{
                            padding-left: 16px;
                        }
                        &:nth-last-child(1){
                            padding-right: 16px;
                        }
                    }
                    & td{
                        padding: 15px 0px;
                        &.sl-no{
                            padding-left: 16px;
                        }
                        &:nth-child(2) {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        &:nth-last-child(1){
                            padding-right: 16px;
                        }
                    }
                }
            }
        }
    }
    
    .latest-update-content{
        & .latest-post-list{
            & ul{
                & li{
                    & .latest-post-list-img {
                        max-width: 110px;
                        width: 100%;
                        height: 90px;
                    }
                }
            }
        }
    }
    
    .tranding-content{
        & .tranding-content-card{
            & .tranding-img{
                height: 190px;
            }
        }
    } 
    
    .latest-post{
        & .latest-post-img{
            height: 220px;
        }
    } 
    
    .newsletter-section {
        & .newsletter-content{
            & form{
                & input, 
                & button{
                    margin-bottom: 18px;
                }
            }
        }
    } 
    
    .best-player-pool{
        & p{
            font-size: 13px;
        }
        & form{
            & ul{
                & li{
                    margin-bottom: 16px;
                }
            }
        }
    }
    
    .time-comment-react-section{
        & li{
            & a{
                font-size: 11px;
            }
        }
    }
}

@media screen and (max-width: 991px){
    .header-section{
        & .main-header{
            & .logo {
                max-width: 140px;
            }
            & .header-content{
                & .header-top-content{
                    & .header-top-left{
                        padding: 0px 20px;
                        & p{
                            font-size: 13px;
                        }
                    }
                    & .header-top-right{
                        & ul{
                            & li{
                                width: 60px;
                            }
                        }
                    }
                }
                & .header-menu{
                    & .header-menu-inner{
                        & .header-menu-list{
                            max-width: 400px;
                            margin-right: 30px;
                        }
                    }
                }   
            }
        }
        &.header-section-light {
            & .main-header {
                & .logo {
                    max-width: 140px;
                }

                & .header-content {
                    & .header-top-content {
                        & .header-top-left {
                            padding: 0px 20px;

                            & p {
                                font-size: 13px;
                            }
                        }

                        & .header-top-right {
                            & ul {
                                & li {
                                    width: 60px;
                                }
                            }
                        }
                    }

                    & .header-menu {
                        & .header-menu-inner {
                            & .header-menu-list {
                                max-width: 400px;
                                margin-right: 30px;
                            }
                        }
                    }
                }
            }
        }
    }  
    .index2-banner-slider-section{
        margin-bottom: 30px;
    }
    .banner-slider-section {
        & .slideshow-container {
            & .bannerSlider {
                & .text {
                    & button {
                        margin-bottom: 20px;
                    }
                    & h2 {
                        font-size: 35px;
                        max-width: 600px;
                        line-height: 130%;
                    }
                }
            }
        }
        & .slide-btns {
            width: 150px;
            bottom: 10px;
            & .dot {
                height: 30px;
                width: 30px;
            }
        }
    }
    
    .upcoming-match-section {
        & .upcoming-match-slider {
            & .upcoming-match-slider-content {
                & .upcoming-match-club-logo2 {
                    margin-left: 20px;
                }

                & .upcoming-match-club-logo1 {
                    margin-right: 20px;
                }
            }
        }
    }  
    
    .latest-post {
        & .latest-post-img{
            height: auto;
        }
    }
    
    .footer-area{
        & .footer-section{
            & .footer-social-link-list{
                & ul{
                    & li{
                        & .footer-link-card{
                            padding: 16px;
                            & p{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .latest-update-content{
        & .latest-post-list{
            margin-top: 25px;
        }
    }
    
    .latest-post-list{
        & ul{
            &.latest-post-list-inner {
                gap: 6%;
                flex-wrap: wrap;
                flex-direction: row;

                & li {
                    width: 47%;
                    margin-bottom: 25px;
                    &:nth-last-child(1),
                    &:nth-last-child(2){
                        margin-bottom: 0px;
                    }
                }
            }
        }
        .time-comment-react-section{
            flex-wrap: nowrap !important;
            & li{
                width: auto !important;
                margin-bottom: 0px !important;
            }
        }
    }
    
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .latest-update-content{
        & .latest-post-list{
            margin-top: 0px;
            & ul{
                &.latest-post-list-inner{
                    flex-direction: column;
                    & li{
                        width: 100%;
                        &:nth-last-child(2){
                            margin-bottom: 25px;
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 767px){
    .header-section{
        height: 70px;
        & .mobile-menu-btn {
            display: block;
            position: absolute;
            right: 30px;
            top: 22px;
            padding: 0px;
            margin: 0px;
            background: transparent;
            filter: brightness(100);
            height: 25px;
            width: 25px;
        }
        & .main-header{
            height: 70px;
            & .header-content{
                & .header-top-content{
                    height: 70px;
                    border: none;
                    & .header-top-left{
                        width: 100%;
                        padding-right: 100px;
                    }
                    & .header-top-right{
                        display: none;
                    }
                }
                & .header-menu{
                    & .header-menu-inner{
                        display: none;
                    }
                }
            }
        }
        
        &.header-section-light{
            & .mobile-menu-btn {
                filter: brightness(0);
            }
            & .main-header{
                & .header-content{
                    & .header-menu{
                        & .header-menu-inner{
                            display: none;
                        }
                    }
                }
            }
        }
    }
        
    .footer-area{
        & .footer-section{
            & .footer-social-link-list{
                & ul{
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 4%;
                    & li{
                        &:nth-child(1){
                            width: 100%;
                        }
                        width: 48%;
                        margin-bottom: 4%;
                        &:nth-last-child(1),
                        &:nth-last-child(2){
                            margin-bottom: 0px;
                        }
                    }
                }
            }
            & .main-footer{
                & .main-footer-content{
                    padding-top: 20px;
                    position: relative;
                    flex-direction: column;
                    justify-content: center;
                    & .footer-menu{
                        width: 100%;
                        & ul{
                            justify-content: center;
                        }
                    }
                    & p{
                        text-align: center;
                        width: 100%;
                        margin-top: 20px;
                    }
                    & .back-to-top{
                        position: absolute;
                        top: -20px;
                    }
                }
            }
        }
    }
    
    .mobile-menu{
        display: block;
    }
}

@media screen and (min-width: 575px) and (max-width: 767px){
    .time-comment-react-section {
        & li {
            margin-right: 10px;
            & a {
                font-size: 11px;
                & span{
                    margin-left: 5px;
                }
            }
        }
    }
    .latest-update-content {
        & .latest-post-list {
            & ul {
                & li {
                    & .latest-post-list-img {
                        max-width: 90px;
                        width: 100%;
                        height: 75px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .latest-post-list {
        & ul {
            & li {
                & .latest-post-list-img {
                    max-width: 90px;
                    width: 100%;
                    height: 75px;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 575px){
    .header-section{
        & .mobile-menu{
            & .mobile-menu-inner{
                & .mobile-menu-left{
                    width: 20%;
                }
                & .mobile-menu-right{
                    width: 80%;
                    padding: 50px 30px;
                }
            }
        }
    }
    
    .latest-post-list {
        & ul {
            &.latest-post-list-inner {
                & li {
                    width: 100%;
                    &:nth-last-child(2){
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 411px){
    .header-section{
        & .mobile-menu{
            & .mobile-menu-inner{
                & .mobile-menu-left{
                    width: 0%;
                }
                & .mobile-menu-right{
                    width: 100%;
                    padding: 50px 30px;
                }
            }
        }
    }
}
